<section>
    <h3>Grievance Procedure for Individuals Receiving Services</h3>
    <p>
        You have the right to let your concerns (grievances) about how you are being treated be known.
    </p>
    <p>
        You have a right to be told the method you can use to let your concerns (grievances) be known. This
        written notice is a
        description of how to report grievances and complaints about services you receive from Iris Family
        Support Center. This
        written notice will be given to you and/or your legal guardian before you begin receiving services
        with
        Iris Family Support
        Center.
    </p>
    <p>
        You and/or your legal guardian are not limited to any way in the scope, content or frequency of your
        grievances.
    </p>
    <p>
        You and/or your legal guardian may begin the grievance process by telling the person who coordinates
        your services
        what your complaint is either via phone, in person, in writing or via email.
    </p>
    <h4>General Expectations of Communication of Complaints is as Follows:</h4>
    <p>
        <strong>Oral Phase:</strong> Direct communication with the individual involved and/or their
        supervisor
        is expected, and follow-up will be
        initiated within the department. If the decision made in this phase is not satisfactory, the next
        phase
        can begin.
    </p>
    <p>
        <strong>Written Phase:</strong> You may elevate your complaint in writing directly to the Program
        Leader. They will review the complaint
        and respond to you in writing within ten (10) business days. Ifthe decision made in this phase is
        not
        satisfactory, the next
        phase can begin.
    </p>
    <p>
        <strong>Meeting Phase:</strong> If you disagree with what the Program Leader decides, you may take
        your
        complaint via phone, in
        person, in writing or via email to the CEO. The CEO will make the final decision and respond to you
        and/or your legal
        guardian in writing within ten (10) business days.
    </p>
    <p>
        If no resolution can be made, you may contact the Department of Child Services at:
        <strong>dcs.customerservice@dcs.in.gov</strong>
    </p>

    <div class="row mb-3">
        <label class="col" for="StaffName">Staff Name:</label>
        <input class="col" type="text" id="StaffName" name="StaffName">
        <label class="col" for="Phone">Phone:</label>
        <input class="col" type="text" id="Phone" name="Phone">
        <label class="col" for="Email">Email:</label>
        <input class="col" type="text" id="Email" name="Email">
    </div>
    <div class="row mb-3">
        <label class="col" for="StaffName">Supervisor Contact:</label>
        <input class="col" type="text" id="StaffName" name="StaffName">
        <label class="col" for="Phone">Phone:</label>
        <input class="col" type="text" id="Phone" name="Phone">
        <label class="col" for="Email">Email:</label>
        <input class="col" type="text" id="Email" name="Email">
    </div>
    <div class="row mb-3">
        <label class="col" for="StaffName">Program Leader Contact:</label>
        <input class="col" type="text" id="StaffName" name="StaffName">
        <label class="col" for="Phone">Phone:</label>
        <input class="col" type="text" id="Phone" name="Phone">
        <label class="col" for="Email">Email:</label>
        <input class="col" type="text" id="Email" name="Email">
    </div>
    <div class="row mb-3">
        <label class="col" for="StaffName">CEO:</label>
        <lable class="col">Dee Szyndrowski</lable>
        <label class="col" for="Phone">Phone:</label>
        <label class="col" for="Phone">(260) 421-5000</label>
        <label class="col" for="Email">Email:</label>
        <label class="col" for="Email">dszyndrowski@irisfamily.org</label>
    </div>
    <p>
        <strong>Address:</strong> Iris Family Support Center, 500 West Main Street, Fort Wayne IN 46802
    </p>
</section>