<section>
    <h3>Participant Rights & Responsibilities</h3>
    <p>
        Hours of Operations:
        <br>
        Monday - Friday 8:00 a.m. to 8:00 p.m.
        <br>
        Saturday 10:00 a.m. to 2:00 p.m.
        <br>
        Sunday Closed.
        <br>
        We are closed for major holidays.
    </p>
    <h4>Participant Rights</h4>
    <p>
    <ol>
        <li>
            Participants have the right to be treated with dignity and respect without discrimination of
            race, color, gender, sexual orientation, religion, nation origin, veteran status, and/or
            handicap.
        </li>
        <li>
            Participants have the right to receive services respectful of and responsive to learning,
            cultural
            and linguistic difference; Iris Family Support Center will accommodate in writing and oral
            communication the needs of participants in major service populations. Iris Family Support
            Center will attempt to do the same for other populations served. Iris Family Support Center will
            provide or arrange for, bilingual personnel or translators or arranging for the use of
            communication technology, as needed; providing telephonic amplification, sign language
            services, or other communication methods for deaf or hearing-impaired persons; providing, or
            arranging for, communication assistance for person with special needs who have difficulty
            making their service needs known; and considering the person’s literacy level.
        </li>
        <li>
            Participants have the right to services that respect their personal values and choices
        </li>
        <li>
            Participants have the right to choose to refuse services at any time
        </li>
        <li>
            Participants have the right to participate in all service decisions, receive service in a manner
            that
            is non-coercive, and that protect their right to self-determination
        </li>
        <li>
            Participants have the right to see their own records with a written request, a 24-hour notice,
            and
            a Iris Family Support Center staff person present. Participants may choose to be accompanied by
            a person of their choice, comment on the accuracy of the records, and insert their own
            statement(s) regarding the items in the records
        </li>
        <li>
            Participants have the right to a referral for other services at any time; such a referral will
            contribute to services of the highest quality
        </li>
        <li>
            Participants are entitled to have their rights explained to them using a language or method of
            communication they understand upon commencement of services
        </li>
        <li>
            Participants have the right to choose to consent in writing prior to being recorded,
            photographed, or filmed
        </li>
    </ol>
    </p>
    <h4>Agency Responsibilities</h4>
    <p>
    <ol>
        <li>
            Iris Family Support Center promotes a culture of respect, healing and positive behavior for all
            our staff, children, parent/guardians, and visitors in home or within the agency. Iris Family
            Support Center will provide support to any individual that displays or identifies that the
            individual needs support to manage their own emotions and behaviors to prevent the need for
            crisis intervention in a respectful, healing and positive manner
        </li>
        <li>
            Iris Family Support Center personnel are here to develop positive relationships with all service
            participants, our staff practice trauma-informed care, our staff build on your strengths of an
            individual and family unit and reinforce the positive attributes of individuals and family
            systems
            and will be responsive to all incidents to create a safe, respectful, healing and positive
            environment
        </li>
        <li>
            Iris Family Support Center will consistently enforce all program rules and expectation for
            service
            recipients, including the video surveillance of its facilities. Video monitoring is used to
            protect
            property, maintain quality control, detect theft and misconduct, and discourage or prevent acts
            of harassment and violence
        </li>
        <li>
            Visits will occur at a time agreed upon between participant and staf
        </li>
        <li>
            Iris Family Support Center will ensure records are kept in a confidential manner according to
            all
            Mental Health and Developmental Disabilities Confidentiality Act, Chapter 2 of the Mental
            Health and Development Disabilities Code, and the Health Insurance Portability and
            Accountability Act (HIPAA); refer to Notice of Privacy Practices
        </li>
    </ol>
    </p>
    <h4>Participant’s Responsibilities to Iris Family Support Center</h4>
    <p>
    <ol>
        <li>
            Participant and/or parent/guardian agree to behave in a respectful, healing and positive manner
            to staff, children, other participants in the building. Participant agrees to notify staff or
            any
            individual need or needs of any individual family member with respect to the need for support
            to manage their own behaviors to prevent the need for crisis intervention
        </li>
        <li>
            <strong><u>In Office:</u></strong> If I engage in threatening, aggressive (verbally or
            physically) behavior, I understand that
            I will be escorted out of the building by staff or police. If this occurs, a conference will be
            held
            with my referral source and a safety plan will be created to prevent any future need for crisis
            intervention
        </li>
        <li>
            <strong><u>In Home/Community:</u></strong> If I engage in threatening, aggressive (verbally or
            physically) behavior in
            the home/community setting, I understand that the Iris Family Support Center worker will end
            the visit and call 911 if applicable. If this occurs, services will be discontinued until a
            conference
            is held with the program leadership and the referral source if applicable, and a safety plan
            will be
            created to support my emotional/behavioral needs
        </li>
        <li>
            I agree to provide all relevant information as a basis for receiving services and participating
            in
            service decisions
        </li>
        <li>
            I agree, that for quality of services and/or training purposes, there may be occasions when
            additional Iris Family Support Center staff may be present in my visit or other activity with
            Iris
            Family Support Center
        </li>
        <li>
            I agree to call 24 hours in advance if I am unable to keep an appointment and give a reason for
            the cancellation
        </li>
        <li>
            I agree to notify my Iris Family Support Center staff of changes to my contact information
        </li>
    </ol>
    </p>
    <h4>Financial and Legal Obligations</h4>
    <p>
    <ol>
        <li>
            Iris Family Support Center will not serve a minor without consent from a parent or legal
            guardian
            and provide this information upon request
        </li>
        <li>
            Iris Family Support Center staff are mandated professional reporters and as such, are legally
            obligate to report alleged child abuse or neglect; per Indiana State Statute IC: 31-33 and Iris
            Family Support Center Policy
        </li>
        <li>
            Iris Family Support Center staff are required to report any emergency situations involving a
            serious and/or imminent threat to the health and safety of the participant/others according to
            the Duty to Warn statute
        </li>
    </ol>
    </p>
    <h4>Signatures</h4>
    <p>
    <ul>
        <li>
            I have received a copy of my rights, and I have had these rights explained to me in a language
            or
            method of communication that I understand
        </li>
        <li>
            I understand programs of Iris Family Support Center are provided without a direct cost to the
            participant and family served, other than those participating in Family Connections. Family
            Connections participants will receive a schedule of any applicable fees and estimated or actual
            expense prior to service delivery
        </li>
    </ul>

    <div id="signature-section" class="mt-3">

        <div class="row align-items-start print-inline-row-3 container-fluid">
            <div class="mb-3 col">
                <input type="text" class="form-control" id="client1name">
                <label class="form-text" for="client1name">Client Name</label>
            </div>
            <div class="mb-3 col">
                <div class="mb-3 text-center">
                    <img id="client1signature-image" src="" alt=""
                        style="border:1px solid #000; width: 300px; height: 55px; display: none;">
                    <button id="client1signbutton" type="button" class="btn btn-outline-primary btn-sm mt-2"
                        data-bs-toggle="modal" data-bs-target="#client1signatureModal">Sign Here</button>
                </div>
                <div class="mb-3 row align-items-start">
                    <label class="form-text col" for="client1signature-pad">Client Signature</label>
                    <a href="#" onclick="clearSignatureImage('client1signature-image'); return false;"
                        class="form-text col hide-print">Clear Signature</a>
                </div>
            </div>
            <div class="mb-3 col">
                <input type="date" class="form-control" id="client1Signed" style="width: auto;">
                <label class="form-text" for="client1Signed">Date Signed</label>
            </div>
        </div>




        <div class="row align-items-start print-inline-row-3 container-fluid">
            <div class=" mb-3 col">
                <input type="text" class="form-control" id="client2name">
                <label class="form-text" for="client2name">Client Name</label>
            </div>
            <div class=" mb-3 col">
                <div class="mb-3 text-center">
                    <img id="client2signature-image" src="" alt=""
                        style="border:1px solid #000; width: 300px; height: 55px; display: none;">
                    <button id="client2signbutton" type="button" class="btn btn-outline-primary btn-sm mt-2 hide-print"
                        data-bs-toggle="modal" data-bs-target="#client2signatureModal">Sign Here</button>
                </div>
                <div class="mb-3 row align-items-start">
                    <label class="form-text col" for="client2signature-pad">Client Signature</label>
                    <a href="#" onclick="clearSignatureImage('client2signature-image'); return false;"
                        class="form-text col hide-print">Clear Signature</a>
                </div>
            </div>
            <div class="mb-3 col">
                <input type="date" class="form-control" id="client2Signed" name="client2Signed" style="width: auto;">
                <label class="form-text" for="client2Signed">Date Signed</label>
            </div>
        </div>


        <div class="row align-items-start print-inline-row-3 container-fluid">
            <div class="mb-3 col">
                <input type="text" class="form-control" id="staffname">
                <label class="form-text" for="staffname">Staff Name</label>
            </div>
            <div class="mb-3 col">
                <div class="mb-3 text-center">
                    <img id="staffsignature-image" src="" alt=""
                        style="border:1px solid #000; width: 300px; height: 55px; display: none;">
                    <button id="staffsignbutton" type="button" class="btn btn-outline-primary btn-sm mt-2"
                        data-bs-toggle="modal" data-bs-target="#staffsignatureModal">Sign Here</button>
                </div>
                <div class="mb-3 row align-items-start">
                    <label class="form-text col" for="staffsignature-pad">Staff Signature</label>
                    <a href="#" onclick="clearSignatureImage('staffsignature-image'); return false;"
                        class="form-text col">Clear Signature</a>
                </div>
            </div>
            <div class="mb-3 col">
                <input type="date" class="form-control" id="staffSigned" style="width: auto;">
                <label class="form-text" for="staffSigned">Date Signed</label>
            </div>
        </div>
    </div>
    </p>
</section>