.signature-pad {
	border: 1px solid #ccc;
	width: 100%;
	height: 110px;
	touch-action: none;
}



body {
	background-color: #7867AE;
}

.signature-image {
	border: 1px solid #000;
	width: 300px;
	height: 55px;
	display: none;
}

@media print {
  @page {
    size: landscape; /* landscape orientation */
    margin: 0.25in; /* safe margin */
  }

  #logo {
    max-width: 200px !important; /* adjust size */
    height: auto !important;
    display: block;
    margin: 0 auto; /* keeps it centered */
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: Calibri, sans-serif;
  }

  body * {
    max-width: none !important;
  }

  #print-section {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  table {
    width: 100% !important;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th, td {
    padding: 4px;
    word-wrap: break-word;
  }
  
.page-break {
    page-break-before: always; /* For older browsers */
    break-before: page;        /* Modern standard */
  }



  /* Auto-grow textareas as user types */
textarea.autogrow {
  resize: none;
  overflow: hidden;
  min-height: 38px; /* matches Bootstrap input height */
}

/* Print friendliness */
@media print {
  textarea.autogrow {
    overflow: visible !important;
  }
}

}