.signature-pad {
	border: 1px solid #ccc;
	width: 100%;
	height: 110px;
	touch-action: none;
}

@media print {
	body * {
		display: none !important;
		background-color: white !important;
	}

	.print-inline-row button,
	.print-inline-row a {
		display: none !important;
	}

	#hide-print {
		display: none !important;
	}

	.hide-print {
		display: none !important;
	}

	#print-section,
	#print-section * {
		display: block !important;
		margin: 0 auto;
	}

	.print-inline-row>.col {
		float: left;
		width: 25%;
		box-sizing: border-box;
	}

	.print-inline-row {
		display: block;
		clear: both;
	}

}

body {
	background-color: #7867AE;
}

.signature-image {
	border: 1px solid #000;
	width: 300px;
	height: 55px;
	display: none;
}