.signature-pad {
	border: 1px solid #ccc;
	width: 100%;
	height: 110px;
	touch-action: none;
}

@media print {
	body * {
		display: none !important;
		background-color: white !important;
	}

	#print-section,
	#print-section * {
		display: block !important;
		margin: 0 auto;
	}

	.hide-print {
		display: none !important;
	}


	.row {
		display: flex !important;
		flex-wrap: nowrap !important;
	}

	.col {
		flex: 1 1 auto !important;
		max-width: none !important;
	}

}

body {
	background-color: #7867AE;
}